 <footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li>La plateforme va permet d'aider  </br>  les personnes mieux apprendre les cours</li>
       
        
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        
        <li><a href="{{ path('a_propos') }}">A propos</a></li>
        <li><a href="">Gallerie</a></li>
        <li><a href="{{ path('app_apprentissage') }}">Aides</a></li>
        
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="{{ path('app_contact') }}">Help</a></li>
        <li><a href="#">FAQ</a></li>
        
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Newsletter</h2>
      <p>Suivez les actualités </p>
      <form>
        <input type="email" name="email" placeholder="Entrer votre adresse email">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li>&copy; 2022 Copyright Wambiekele Kiyeko Tallia-Anne</li>
    </ul>
  </section>
</footer>