 {% block stylesheets %}


{% endblock %}


   <section class="featured-blox">
                <section class="container-blog">
                 <section class="cards-blog">
{# boucler les articles #}
 {% for article in articles %}
    {% include 'article/item.html.twig' with {articles}%}
{% endfor %}
 </section>
            </section>
</section>
