 <section class="card-profile-blog">
            <div class="card-profile">
                <img src="../img/Dyslogie-removebg-preview.png"  width="270" alt="logo">

            </div>
            <h3 >A propos</h3>
            <p> La plateforme va permet d'aider prise de note et améliorer ses notes.
                Simplifier les revision</p>
        </section>